<nav class="uk-navbar-container">
    <div class="uk-container">
        <div uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="/" class="uk-text-bold uk-text-primary">PartyPass</a></li>
                </ul>
            </div>

            <div class="uk-navbar-right">
                <form class="uk-search uk-search-default">
                    <span uk-search-icon></span>
                    <input class="uk-search-input nav-search" type="search" placeholder="search" aria-label="">
                </form>

                <a class="uk-navbar-toggle uk-navbar-toggle-animate" uk-navbar-toggle-icon href="#"></a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li>
                            <a href="{{ url_for('events') }}" class="">
                                <span uk-icon="home"></span>
                                <span>All events</span>
                            </a>
                        </li>
                        <li>
                            <a href="/" class="">
                                <span uk-icon="happy"></span>
                                <span>Party</span>
                            </a>
                        </li>
                        <li>
                            <a href="/" class="">
                                <span uk-icon="happy"></span>
                                <span>Party</span>
                            </a>
                        </li>
                        <li>
                            <a href="/" class="">
                                <span uk-icon="happy"></span>
                                <span>Party</span>
                            </a>
                        </li>
                        <li>
                            <a href="/" class="">
                                <span uk-icon="happy"></span>
                                <span>Party</span>
                            </a>
                        </li>
                        <li>
                            <a href="/" class="">
                                <span uk-icon="happy"></span>
                                <span>Party</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>